In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"
student_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"], how="left")

In [2]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

District Summary

Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Calculate the percentage of students who passed math and reading (% Overall Passing)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [3]:
number_of_schools=len(school_data_complete["School ID"].unique())
print(number_of_schools)
number_of_students=school_data_complete["Student ID"].count()
print(number_of_students)
total_budget=sum(school_data_complete["budget"].unique())
print(total_budget)

15
39170
24649428

In [4]:
avg_math_score=round(school_data_complete["math_score"].sum()/number_of_students,6)
print(avg_math_score)
avg_read_score=round(school_data_complete["reading_score"].sum()/number_of_students,6)
print(avg_read_score)

78.985371
81.87784

In [32]:
passing_mathscore_count = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
math_passing = passing_mathscore_count["Student ID"].count()


percent_passing_math = round(math_passing/number_of_students*100,6)
print(percent_passing_math)

74.980853

In [34]:
passing_readscore_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
read_passing = passing_readscore_count["Student ID"].count()

        
percent_passing_read=round(read_passing/number_of_students*100,6)
print(percent_passing_read)

85.805463

In [35]:
passing_count = passing_mathscore_count.loc[(passing_mathscore_count["reading_score"]>=70)]
total_passing = passing_count["Student ID"].count()


percent_of_students_passed=round(total_passing/number_of_students*100,6)
print(percent_of_students_passed)

65.172326

School Summary
 
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

Top Performing Schools (By % Overall Passing)
 
Sort and display the top five performing schools by % overall passing.

Bottom Performing Schools (By % Overall Passing)
 
Sort and display the five worst-performing schools by % overall passing.

Math Scores by Grade
 
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
Create a pandas series for each grade. Hint: use a conditional statement.
Group each series by school
Combine the series into a dataframe
Optional: give the displayed data cleaner formatting

Reading Score by Grade
 
Perform the same operations as above for reading scores

Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

Scores by School Size
 
Perform the same operations as above, based on school size.

Scores by School Type
 
Perform the same operations as above, based on school type