In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"
student_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"], how="left")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
#start District Summary
#calculate the total number of schools
number_of_schools=len(school_data_complete["School ID"].unique())
#Calculate the total number of students 
number_of_students='{:,}'.format(school_data_complete["Student ID"].count())
#Calculate the total budget
total_budget='${:,.2f}'.format(sum(school_data_complete["budget"].unique()))
#Calculate the average math score
number_of_students2=school_data_complete["Student ID"].count()
avg_math_score=round(school_data_complete["math_score"].sum()/number_of_students2,6)
#Calculate the average reading score
avg_read_score=round(school_data_complete["reading_score"].sum()/number_of_students2,6)
#calculate the percentage of students with a passing math score (70 or greater)
passing_mathscore_count = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
math_passing = passing_mathscore_count["Student ID"].count()
percent_passing_math = round(math_passing/number_of_students2*100,6)
#Calculate the percentage of students with a passing reading score(70 or greater)
passing_readscore_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
read_passing = passing_readscore_count["Student ID"].count()        
percent_passing_read=round(read_passing/number_of_students2*100,6)
#Calculate the percentage of students passing overall
passing_count = passing_mathscore_count.loc[(passing_mathscore_count["reading_score"]>=70)]
total_passing = passing_count["Student ID"].count()
percent_of_students_passed=round(total_passing/number_of_students2*100,6)

In [11]:
#Create a DataFrame to hold all the results above
District_Dict = {"Total # of Schools":[number_of_schools], "Total # of Students":[number_of_students],"Total Budget":[total_budget],
                 "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score], "% of Students Passing Math":[percent_passing_math],
                 "% of Students Passing Reading":[percent_passing_read],"% of Students Passing Overall":[percent_of_students_passed]}

District_df = pd.DataFrame.from_dict(District_Dict)
District_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
#School Summary
#create a groupby to sort data per school
school_group = school_data_complete.groupby("school_name")
#Total students per school
students = school_group["Student ID"].nunique()
#total budget per school
budget = school_group["budget"].unique()

#1st merge to create the DataFrame
stu_budge = pd.merge(students, budget, on=["school_name"], how='outer')

#total budget per student
per_stu = stu_budge["budget"]/stu_budge["Student ID"]
per_student = pd.Series(per_stu, name="per_student")

#2nd merge to add to DataFrame
per_stu_budge = pd.merge(stu_budge, per_student, on=["school_name"], how='outer')

#Average math score per school
Math = round(school_group["math_score"].mean(),6)

#3rd merge to add to DataFrame
math_merge = pd.merge(per_stu_budge, Math, on=["school_name"], how='outer')

#Average reading score per school
Read = round(school_group["reading_score"].mean(),6)

#4th merge to add to DataFrame
read_merge = pd.merge(math_merge, Read, on=["school_name"], how='outer')

#calculate percentage of students passing math per school
PassingMath = school_group.apply(lambda x: (x["math_score"]>=70).sum())
M_Percent = round(PassingMath/students*100,6)
Math_Percent = pd.Series(M_Percent, name="Math Percent")

#5th merge to add to DataFrame
M_perc = pd.merge(read_merge, Math_Percent, on=["school_name"], how='outer')

#calculate percentage of students passing reading per school
PassingRead = school_group.apply(lambda x: (x["reading_score"]>=70).sum())
R_Percent = round(PassingRead/students*100,6)
Reading_Percent = pd.Series(R_Percent, name="Reading Percent")

#6th merge to add to DataFrame
R_perc = pd.merge(M_perc, Reading_Percent, on=["school_name"], how='outer')

#calculate percentage of students passing overall per school
overall_passing = school_group.apply(lambda x: ((x["math_score"]>=70) & (x["reading_score"]>=70)).sum())
O_Percent = round(overall_passing/students*100,6)
Overall_Percent = pd.Series(O_Percent, name="Overall Percent")

#Final merge to create DataFrame for School Summary
O_perc = pd.merge(R_perc, Overall_Percent, on=["school_name"], how='outer')

In [13]:
#Rename columns on DataFrame
O_perc=O_perc.rename(columns={"Student ID": "Total Students", "budget": "Total School Budget", "per_student": "Per Student Budget",
                             "math_score": "Average Math Score", "reading_score": "Average Reading Score",
                              "Math Percent": "% of Students Passing Math", "Reading Percent": "% of Students Passing Reading",
                             "Overall Percent": "% of Students Passing Overall"})
#"School Names":[School_Names],"Type of School":[School_Type],

In [14]:
#Sort and display the top five performing schools by % overall passing
O_perc["% of Students Passing Overall"].nlargest(5)

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
Name: % of Students Passing Overall, dtype: float64

In [15]:
#Sort and display the five worst-performing schools by % overall passing
O_perc["% of Students Passing Overall"].nsmallest(5)

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
Name: % of Students Passing Overall, dtype: float64

In [29]:
#calculate reading and math scores by grade (9th)
ninth_grade_data = school_data_complete.loc[school_data_complete["grade"]=="9th",:]
ninth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Ninth_Group = ninth_grade_data.groupby("school_name")
NinthM_Data = Ninth_Group["math_score"].mean()
NinthR_Data = Ninth_Group["reading_score"].mean()

#calculate reading and math scores by grade (10th)
tenth_grade_data = school_data_complete.loc[school_data_complete["grade"]=="10th",:]
tenth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Tenth_Group = tenth_grade_data.groupby("school_name")
TenthM_Data = Tenth_Group["math_score"].mean()
TenthR_Data = Tenth_Group["reading_score"].mean()

#calculate reading math scores by grade (11th)
eleventh_grade_data = school_data_complete.loc[school_data_complete["grade"]=="11th",:]
eleventh_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Eleventh_Group = eleventh_grade_data.groupby("school_name")
EleventhM_Data = Eleventh_Group["math_score"].mean()
EleventhR_Data = Eleventh_Group["reading_score"].mean()

#calculate reading and math scores by grade (12th)
twelfth_grade_data = school_data_complete.loc[school_data_complete["grade"]=="12th",:]
twelfth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Twelfth_Group = twelfth_grade_data.groupby("school_name")
TwelfthM_Data = Twelfth_Group["math_score"].mean()
TwelfthR_Data = Twelfth_Group["reading_score"].mean()

C:\Users\tmlun\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
#combine all the math scores by grade into a dataframe
mathgrades_combo = pd.merge(NinthM_Data,TenthM_Data,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score_x":"9th Grade Math Scores","math_score_y":"10th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,EleventhM_Data,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"11th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,TwelfthM_Data,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"12th Grade Math Scores"})

mathgrades_df = pd.DataFrame(mathgrades_combo)
mathgrades_df

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [31]:
#combine all the reading scores by grade into a dataframe
readinggrades_combo = pd.merge(NinthR_Data,TenthR_Data,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score_x":"9th Grade Reading Scores","reading_score_y":"10th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,EleventhR_Data,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"11th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,TwelfthR_Data,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"12th Grade Reading Scores"})

readinggrades_df = pd.DataFrame(readinggrades_combo)
readinggrades_df

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [ ]:
Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [ ]:
Student_Budget

Scores by School Size
 
Perform the same operations as above, based on school size.

Scores by School Type
 
Perform the same operations as above, based on school type