In [82]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"
student_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"], how="left")

In [83]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

District Summary

Calculate the total number of schools
Calculate the total number of students
Calculate the total budget
Calculate the average math score 
Calculate the average reading score
Calculate the percentage of students with a passing math score (70 or greater)
Calculate the percentage of students with a passing reading score (70 or greater)
Calculate the percentage of students who passed math and reading (% Overall Passing)
Create a dataframe to hold the above results
Optional: give the displayed data cleaner formatting

In [84]:
number_of_schools=len(school_data_complete["School ID"].unique())
print(number_of_schools)
number_of_students='{:,}'.format(school_data_complete["Student ID"].count())
print(number_of_students)
total_budget='${:,.2f}'.format(sum(school_data_complete["budget"].unique()))
print(total_budget)

15
39,170
$24,649,428.00

In [85]:
number_of_students2=school_data_complete["Student ID"].count()
avg_math_score=round(school_data_complete["math_score"].sum()/number_of_students2,6)
print(avg_math_score)
avg_read_score=round(school_data_complete["reading_score"].sum()/number_of_students2,6)
print(avg_read_score)

78.985371
81.87784

In [86]:
passing_mathscore_count = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
math_passing = passing_mathscore_count["Student ID"].count()


percent_passing_math = round(math_passing/number_of_students2*100,6)
print(percent_passing_math)

74.980853

In [87]:
passing_readscore_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
read_passing = passing_readscore_count["Student ID"].count()

        
percent_passing_read=round(read_passing/number_of_students2*100,6)
print(percent_passing_read)

85.805463

In [88]:
passing_count = passing_mathscore_count.loc[(passing_mathscore_count["reading_score"]>=70)]
total_passing = passing_count["Student ID"].count()


percent_of_students_passed=round(total_passing/number_of_students2*100,6)
print(percent_of_students_passed)

65.172326

In [89]:
District_Dict = {"Total # of Schools":[number_of_schools], "Total # of Students":[number_of_students],"Total Budget":[total_budget],
                 "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score], "% of Students Passing Math":[percent_passing_math],
                 "% of Students Passing Reading":[percent_passing_read],"% of Students Passing Overall":[percent_of_students_passed]}

District_df = pd.DataFrame.from_dict(District_Dict)
District_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary
 
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

In [90]:
school_data_df = school_data_complete.copy()



#School_Dict = {"Total # of Schools":[number_of_schools], "Total # of Students":[number_of_students],"Total Budget":[total_budget],
#                 "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score], "% of Students Passing Math":[percent_passing_math],
#                 "% of Students Passing Reading":[percent_passing_read],"% of Students Passing Overall":[percent_of_students_passed]}

In [105]:
schools_compare1=school_data_df[["school_name","type","Student ID","budget"]]
school_info = schools_compare1.groupby(["school_name"])
school_info.count()

                       type  Student ID  budget
school_name
Bailey High School     4976        4976    4976
Cabrera High School    1858        1858    1858
Figueroa High School   2949        2949    2949
Ford High School       2739        2739    2739
Griffin High School    1468        1468    1468
Hernandez High School  4635        4635    4635
Holden High School      427         427     427
Huang High School      2917        2917    2917
Johnson High School    4761        4761    4761
Pena High School        962         962     962
Rodriguez High School  3999        3999    3999
Shelton High School    1761        1761    1761
Thomas High School     1635        1635    1635
Wilson High School     2283        2283    2283
Wright High School     1800        1800    1800

In [92]:
schools_compare=school_data_df[["school_name","math_score","reading_score"]]
avg_readmath = schools_compare.groupby(["school_name"])
schools_avg = avg_readmath.mean()
schools_avg

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

Top Performing Schools (By % Overall Passing)
 
Sort and display the top five performing schools by % overall passing.

Bottom Performing Schools (By % Overall Passing)
 
Sort and display the five worst-performing schools by % overall passing.

Math Scores by Grade
 
Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
Create a pandas series for each grade. Hint: use a conditional statement.
Group each series by school
Combine the series into a dataframe
Optional: give the displayed data cleaner formatting

Reading Score by Grade
 
Perform the same operations as above for reading scores

Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

Scores by School Size
 
Perform the same operations as above, based on school size.

Scores by School Type
 
Perform the same operations as above, based on school type