In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"
student_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"], how="left")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
number_of_schools=len(school_data_complete["School ID"].unique())

number_of_students='{:,}'.format(school_data_complete["Student ID"].count())

total_budget='${:,.2f}'.format(sum(school_data_complete["budget"].unique()))

number_of_students2=school_data_complete["Student ID"].count()
avg_math_score=round(school_data_complete["math_score"].sum()/number_of_students2,6)

avg_read_score=round(school_data_complete["reading_score"].sum()/number_of_students2,6)

passing_mathscore_count = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
math_passing = passing_mathscore_count["Student ID"].count()

percent_passing_math = round(math_passing/number_of_students2*100,6)

passing_readscore_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
read_passing = passing_readscore_count["Student ID"].count()
        
percent_passing_read=round(read_passing/number_of_students2*100,6)

passing_count = passing_mathscore_count.loc[(passing_mathscore_count["reading_score"]>=70)]
total_passing = passing_count["Student ID"].count()

percent_of_students_passed=round(total_passing/number_of_students2*100,6)

In [3]:
District_Dict = {"Total # of Schools":[number_of_schools], "Total # of Students":[number_of_students],"Total Budget":[total_budget],
                 "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score], "% of Students Passing Math":[percent_passing_math],
                 "% of Students Passing Reading":[percent_passing_read],"% of Students Passing Overall":[percent_of_students_passed]}

District_df = pd.DataFrame.from_dict(District_Dict)
District_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary
 
Create an overview table that summarizes key metrics about each school, including:
School Name
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)


Create a dataframe to hold the above results

In [4]:
school_group = school_data_complete.groupby("school_name")

students = school_group["Student ID"].nunique()
#students

In [6]:
budget = school_group["budget"].unique()
#budget

In [7]:
stu_budge = pd.merge(students, budget, on=["school_name"], how='outer')
#stu_budge

In [9]:
per_stu = stu_budge["budget"]/stu_budge["Student ID"]
per_student = pd.Series(per_stu, name="per_student")
#per_student

In [10]:
per_stu_budge = pd.merge(stu_budge, per_student, on=["school_name"], how='outer')
#per_stu_budge

In [11]:
Math = round(school_group["math_score"].mean(),6)
#Math

In [12]:
math_merge = pd.merge(per_stu_budge, Math, on=["school_name"], how='outer')
#math_merge

In [13]:
Read = round(school_group["reading_score"].mean(),6)
#Read

In [14]:
read_merge = pd.merge(math_merge, Read, on=["school_name"], how='outer')
#read_merge

In [15]:
PassingMath = school_group.apply(lambda x: (x["math_score"]>=70).sum())
M_Percent = round(PassingMath/students*100,6)
Math_Percent = pd.Series(M_Percent, name="Math Percent")
#Math_Percent

In [16]:
M_perc = pd.merge(read_merge, Math_Percent, on=["school_name"], how='outer')
#M_perc

In [17]:
PassingRead = school_group.apply(lambda x: (x["reading_score"]>=70).sum())
R_Percent = round(PassingRead/students*100,6)
Reading_Percent = pd.Series(R_Percent, name="Reading Percent")
#Reading_Percent

In [18]:
R_perc = pd.merge(M_perc, Reading_Percent, on=["school_name"], how='outer')
#R_perc

In [19]:
overall_passing = school_group.apply(lambda x: ((x["math_score"]>=70) & (x["reading_score"]>=70)).sum())
O_Percent = round(overall_passing/students*100,6)
Overall_Percent = pd.Series(O_Percent, name="Overall Percent")
#Overall_Percent

In [20]:
O_perc = pd.merge(R_perc, Overall_Percent, on=["school_name"], how='outer')
O_perc

,Student ID,budget,per_student,math_score,reading_score,Math Percent,Reading Percent,Overall Percent
school_name,,,,,,,,
Bailey High School,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [32]:
O_perc=O_perc.rename(columns={"Student ID": "Total Students", "budget": "Total School Budget", "per_student": "Per Student Budget",
                             "math_score": "Average Math Score", "reading_score": "Average Reading Score",
                              "Math Percent": "% of Students Passing Math", "Reading Percent": "% of Students Passing Reading",
                             "Overall Percent": "% of Students Passing Overall"})
#"School Names":[School_Names],"Type of School":[School_Type],
                
O_perc

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
school_name,,,,,,,,
Bailey High School,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,90.333333

In [43]:
O_perc.sort_index()
#O_perc.sort_values(by=["% of Students Passing Overall"], ignore_index=True)
O_perc.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
school_name,,,,,,,,
Bailey High School,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455

In [41]:
O_perc.sort_values(by=["% of Students Passing Overall"],ascending=False, ignore_index=True)
O_perc.head()

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
school_name,,,,,,,,
Bailey High School,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,90.599455

In [44]:
school_data = school_data_complete.copy()

ninth_grade_data = school_data.loc[school_data["grade"]=="9th",:]
ninth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Ninth_Group = ninth_grade_data.groupby("school_name")
NinthM_Data = Ninth_Group["math_score"].mean()

tenth_grade_data = school_data.loc[school_data["grade"]=="10th",:]
tenth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Tenth_Group = tenth_grade_data.groupby("school_name")
TenthM_Data = Tenth_Group["math_score"].mean()

eleventh_grade_data = school_data.loc[school_data["grade"]=="11th",:]
eleventh_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Eleventh_Group = eleventh_grade_data.groupby("school_name")
EleventhM_Data = Eleventh_Group["math_score"].mean()

twelfth_grade_data = school_data.loc[school_data["grade"]=="12th",:]
twelfth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Twelfth_Group = twelfth_grade_data.groupby("school_name")
TwelfthM_Data = Twelfth_Group["math_score"].mean()
        

Math_ninth_Series = pd.Series(NinthM_Data)
Math_Tenth_Series = pd.Series(TenthM_Data)
Math_Eleventh_Series = pd.Series(EleventhM_Data)
Math_Twelfth_Series = pd.Series(TwelfthM_Data)

C:\Users\tmlun\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [45]:
EleventhM_Data.dtypes

dtype('float64')

In [50]:
mathgrades_combo = pd.merge(Math_ninth_Series,Math_Tenth_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score_x":"9th Grade Math Scores","math_score_y":"10th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,Math_Eleventh_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"11th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,Math_Twelfth_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"12th Grade Math Scores"})

mathgrades_df = pd.DataFrame(mathgrades_combo)
mathgrades_df

,9th Grade Math Scores,10th Grade Math Scores,11th Grade Math Scores,12th Grade Math Scores
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

Reading Score by Grade
 
Perform the same operations as above for reading scores

In [47]:
NinthR_Data = Ninth_Group["reading_score"].mean()
TenthR_Data = Tenth_Group["reading_score"].mean()
EleventhR_Data = Eleventh_Group["reading_score"].mean()
TwelfthR_Data = Twelfth_Group["reading_score"].mean()
        
Reading_ninth_Series = pd.Series(NinthR_Data)
Reading_Tenth_Series = pd.Series(TenthR_Data)
Reading_Eleventh_Series = pd.Series(EleventhR_Data)
Reading_Twelfth_Series = pd.Series(TwelfthR_Data)

In [49]:
readinggrades_combo = pd.merge(Reading_ninth_Series,Reading_Tenth_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score_x":"9th Grade Reading Scores","reading_score_y":"10th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,Reading_Eleventh_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"11th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,Reading_Twelfth_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"12th Grade Reading Scores"})

readinggrades_df = pd.DataFrame(readinggrades_combo)
readinggrades_df

,9th Grade Reading Scores,10th Grade Reading Scores,11th Grade Reading Scores,12th Grade Reading Scores
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [ ]:
Student_Budget

Scores by School Size
 
Perform the same operations as above, based on school size.

Scores by School Type
 
Perform the same operations as above, based on school type