In [415]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\schools_complete.csv"
student_data_to_load = "C:\\Users\\tmlun\\pandas-challenge\\PyCitySchools\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, on=["school_name", "school_name"], how="left")
 school_data_complete

In [417]:
number_of_schools=len(school_data_complete["School ID"].unique())
#print(number_of_schools)
number_of_students='{:,}'.format(school_data_complete["Student ID"].count())
#print(number_of_students)
total_budget='${:,.2f}'.format(sum(school_data_complete["budget"].unique()))
#print(total_budget)
number_of_students2=school_data_complete["Student ID"].count()
avg_math_score=round(school_data_complete["math_score"].sum()/number_of_students2,6)
#print(avg_math_score)
avg_read_score=round(school_data_complete["reading_score"].sum()/number_of_students2,6)
#print(avg_read_score)
passing_mathscore_count = school_data_complete.loc[(school_data_complete["math_score"]>=70)]
math_passing = passing_mathscore_count["Student ID"].count()

percent_passing_math = round(math_passing/number_of_students2*100,6)
#print(percent_passing_math)
passing_readscore_count = school_data_complete.loc[(school_data_complete["reading_score"]>=70)]
read_passing = passing_readscore_count["Student ID"].count()
        
percent_passing_read=round(read_passing/number_of_students2*100,6)
#print(percent_passing_read)
passing_count = passing_mathscore_count.loc[(passing_mathscore_count["reading_score"]>=70)]
total_passing = passing_count["Student ID"].count()

percent_of_students_passed=round(total_passing/number_of_students2*100,6)
#print(percent_of_students_passed)

In [418]:
District_Dict = {"Total # of Schools":[number_of_schools], "Total # of Students":[number_of_students],"Total Budget":[total_budget],
                 "Average Math Score":[avg_math_score], "Average Reading Score":[avg_read_score], "% of Students Passing Math":[percent_passing_math],
                 "% of Students Passing Reading":[percent_passing_read],"% of Students Passing Overall":[percent_of_students_passed]}

District_df = pd.DataFrame.from_dict(District_Dict)
District_df

,Total # of Schools,Total # of Students,Total Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [419]:
school_group = school_data_complete.groupby("school_name")

Names = school_group["school_name"].unique()
School_Names = (Names).values
Type = school_group["type"].value_counts()
School_Type = (Type).values
Students = school_group["Student ID"].count()
Total_Students = (Students).values
Total_Students2 = school_group["Student ID"].value_counts()
School_Budget = school_group["budget"].value_counts()
Total_School_Budget = (School_Budget).values
Budget = School_Budget/Total_Students2
Student_Budget = Budget.values
Math = school_group["math_score"].mean()
Avg_Math = Math.values
Read = school_group["reading_score"].mean()
Avg_Read = Read.values

PassingMath = school_group.apply(lambda x: (x["math_score"]>=70).sum())
M_Percent = round(PassingMath/Total_Students*100,6)
Math_Percent = (M_Percent).values

PassingRead = school_group.apply(lambda x: (x["reading_score"]>=70).sum())
R_Percent = round(PassingRead/Total_Students*100,6)
Reading_Percent = (R_Percent).values

overall_passing = school_group.apply(lambda x: ((x["math_score"]>=70) & (x["reading_score"]>=70)).sum())
O_Percent = round(overall_passing/Total_Students*100,6)
Overall_Percent = (O_Percent).values

In [420]:
School_Dict = {"School Names":[School_Names],"Type of School":[School_Type],"Total Students":[Total_Students],
                 "Total School Budget":[Total_School_Budget], "Per Student Budget":[Student_Budget],
                "Average Math Score":[Avg_Math],"Average Reading Score":[Avg_Read],
                "% of Students Passing Math":[Math_Percent],"% of Students Passing Reading":[Reading_Percent],
                "% of Students Passing Overall":[Overall_Percent]}
School_df = pd.DataFrame.from_dict(School_Dict)
School_df

,School Names,Type of School,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% of Students Passing Math,% of Students Passing Reading,% of Students Passing Overall
0,"[[Bailey High School], [Cabrera High School], ...","[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[4976.0, 4976.0, 4976.0, 4976.0, 4976.0, 4976....","[77.04843247588424, 83.06189451022605, 76.7117...","[81.03396302250803, 83.97578040904197, 81.1580...","[66.680064, 94.133477, 65.988471, 68.309602, 9...","[81.93328, 97.039828, 80.739234, 79.299014, 97...","[54.642283, 91.334769, 53.204476, 54.289887, 9..."

In [421]:
O_Percent.nlargest()

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
dtype: float64

In [422]:
O_Percent.nsmallest()

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
dtype: float64

In [423]:
school_data = school_data_complete.copy()

ninth_grade_data = school_data.loc[school_data["grade"]=="9th",:]
ninth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Ninth_Group = ninth_grade_data.groupby("school_name")
NinthM_Data = Ninth_Group["math_score"].mean()

tenth_grade_data = school_data.loc[school_data["grade"]=="10th",:]
tenth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Tenth_Group = tenth_grade_data.groupby("school_name")
TenthM_Data = Tenth_Group["math_score"].mean()

eleventh_grade_data = school_data.loc[school_data["grade"]=="11th",:]
eleventh_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Eleventh_Group = eleventh_grade_data.groupby("school_name")
EleventhM_Data = Eleventh_Group["math_score"].mean()

twelfth_grade_data = school_data.loc[school_data["grade"]=="12th",:]
twelfth_grade_data.drop(["student_name","gender","School ID","type","size","budget"],axis=1,inplace=True)
Twelfth_Group = twelfth_grade_data.groupby("school_name")
TwelfthM_Data = Twelfth_Group["math_score"].mean()
        
Math_ninth_Series = pd.Series(NinthM_Data)
Math_Tenth_Series = pd.Series(TenthM_Data)
Math_Eleventh_Series = pd.Series(EleventhM_Data)
Math_Twelfth_Series = pd.Series(TwelfthM_Data)

C:\Users\tmlun\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [424]:
mathgrades_combo = pd.merge(Math_ninth_Series,Math_Tenth_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score_x":"9th Grade Math Scores","math_score_y":"10th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,Math_Eleventh_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"11th Grade Math Scores"})

mathgrades_combo = pd.merge(mathgrades_combo,Math_Twelfth_Series,on=["school_name"],how="inner")
mathgrades_combo = mathgrades_combo.rename(columns={"math_score":"12th Grade Math Scores"})

mathgrades_df = pd.DataFrame(mathgrades_combo)

In [425]:
NinthR_Data = Ninth_Group["reading_score"].mean()
TenthR_Data = Tenth_Group["reading_score"].mean()
EleventhR_Data = Eleventh_Group["reading_score"].mean()
TwelfthR_Data = Twelfth_Group["reading_score"].mean()
        
Reading_ninth_Series = pd.Series(NinthR_Data)
Reading_Tenth_Series = pd.Series(TenthR_Data)
Reading_Eleventh_Series = pd.Series(EleventhR_Data)
Reading_Twelfth_Series = pd.Series(TwelfthR_Data)

In [426]:
readinggrades_combo = pd.merge(Reading_ninth_Series,Reading_Tenth_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score_x":"9th Grade Reading Scores","reading_score_y":"10th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,Reading_Eleventh_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"11th Grade Reading Scores"})

readinggrades_combo = pd.merge(readinggrades_combo,Reading_Twelfth_Series,on=["school_name"],how="inner")
readinggrades_combo = readinggrades_combo.rename(columns={"reading_score":"12th Grade Reading Scores"})

readinggrades_df = pd.DataFrame(readinggrades_combo)

Reading Score by Grade
 
Perform the same operations as above for reading scores

Scores by School Spending
 
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

Scores by School Size
 
Perform the same operations as above, based on school size.

Scores by School Type
 
Perform the same operations as above, based on school type